<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tegridy Grange</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/styles.css'>
    <script src='app.js' type="application/javascript"></script>
</head>
<header class="'nav-head">
    <h1>Ⓣⓔⓖⓡⓘⓓⓨ Ⓖⓡⓐⓝⓖⓔ</h1>
    <nav>

        <a href="/">Home Page</a>
        <a href="/employees">Employees</a>
        <a href="/customers">Customers</a>
        <a href="/products">Products</a>
        <a href="/vendors">Vendors</a>
        <a href="/salesInvoices">Sales Invoices</a>
        <a href="/productSales">Product Sales</a>
    </nav>
</header>
<body>

    {{{body}}}

</body>
<footer><p>&copy; 2023 Monika Marek & Andrew Serrano</p></footer>
</html>